<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>SearchJob</servlet-name>
        <servlet-class>com.rs.servlets.SearchJob</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ApplyJob</servlet-name>
        <servlet-class>com.rs.servlets.ApplyJob</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>com.rs.servlets.UserProfile</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.rs.servlets.Register</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplyJob</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchJob</servlet-name>
        <url-pattern>/SearchJob</url-pattern>
    </servlet-mapping>


    <!--<welcome-file-list>
        <welcome-file>result.jsp</welcome-file>
    </welcome-file-list>-->
</web-app>